
linux_kern/linux_kern/.obsidian/app.json
linux_kern/linux_kern/.obsidian/appearance.json
linux_kern/linux_kern/.obsidian/core-plugins-migration.json
linux_kern/linux_kern/.obsidian/core-plugins.json
linux_kern/linux_kern/.obsidian/hotkeys.json
linux_kern/linux_kern/.obsidian/workspace.json
